PORT=3001
JWT_SECRET=grenaa-if-super-secret-2026
CLIENT_URL=http://localhost:5173
DBU_API_KEY=din-api-nøgle-fra-dbu-klubadmin
DBU_TEAM_ID=grenaa-if-u10-11-hold-id
FOOTBALL_DATA_API_KEY=din-nøgle-fra-football-data.org
